@model IEnumerable<Product>
@section Scripts {
    <script src="~/client/main.js"></script>
    <script src="~/client/polyfills.js"></script>
    <script src="~/client/runtime.js"></script>
}

@section Head {
    <base href="/App/Shop" /> 
    <link href="~/client/styles.css" rel="stylesheet" />
}

<the-shop></the-shop>

@* <h1>Shop</h1>
<p>Count: @Model.Count()</p>
<div class="row">
@foreach (var p in Model)
{
    
        <div class="col-lg-4 col-sm-6 col-12">
            <div class="border bg-light rounded p-1" style="max-width: 350px">
                <img src="~/img/@(p.ArtId).jpg" class="img-fluid" alt="@p.Title"/>
                <h3>@p.Category - @p.Size</h3>
                <ul>
                    <li>
                        Price: $@p.Price
                    </li>
                    <li> 
                        Artist: @p.Artist
                    </li>
                    <li>
                        Title: @p.Title
                    </li>
                    <li>
                        Description: @p.ArtDescription
                    </li>
                </ul>

                <div class="text-center">
                    <button id="buy-button" class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>
}
</div> *@